.App {
  color: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

h1 {
  width: 251px;
  height: 37px;
  margin-bottom: 8px;
  margin-left: 2px;
  margin-top: 0;
}

.topDiv {
  border-radius: 10px;
  background: #626262;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 48px;
}

.pieBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.pieSmallBoxes {
  /* border: 1px solid; */
  width: 250px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.colorDiv {
  width: 250px;
  height: 10px;
  /* border: 1px solid; */
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.smallBox {
  width: 26px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOTTOM DIV CSS */
.bottomDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0;
}

.recentTransactionsDiv {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.transactionHeading1 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
}

.transactionsDiv {
  height: 345px;
  border: 1px 0px 0px 0px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.2rem;
}

.topExpensesDiv {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.transactionHeading2 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
}

.expensesBarGraphDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 345px;

  border-radius: 15px;
  background-color: #ffffff;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .topDiv {
    padding: 16px;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .bottomDiv {
    padding: 16px;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .transactionsDiv {
    height: 400px;
  }
}

@media (max-width: 600px) {
  .topDiv {
    padding: 16px;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .bottomDiv {
    padding: 16px;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .transactionsDiv {
    height: 400px;
  }

  .expensesBarGraphDiv {
    height: 300px;
  }
}
