.App {
  color: white;
  margin: 1rem;
}

h1 {
  width: 251px;
  height: 37px;
  top: 48px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 8px;
  margin-left: 2px;
}

.topDiv {
  /* width: 1211px; */
  height: 269px;
  /* top: 94px; */
  left: 32px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  background: #626262;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pieBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.pieSmallBoxes {
  /* border: 1px solid; */
  width: 250px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.colorDiv {
  width: 250px;
  height: 10px;
  /* border: 1px solid; */
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.smallBox {
  width: 26px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
